<div >
	<div class="text-center " st>
		<h1>Title Trails</h1>
	</div>

	<div >
		<form novalidate (ngSubmit)="save()" [formGroup]="titleForm">

			<!-- Primary Information -->
      <div class="card bg-default border border-success">
        <div class=" card-header bg-default">
          Property and Owner Information
        </div>
        <div formGroupName="primaryInfo" class="card-body ">
          <div class="form-row">
            <div class="form-group col-md-4">
              <label class="col-form-label"
                    for="orderNumberId">Order Number</label>				
                <input class="form-control form-control-sm"
                      id="orderNumberId"
                      type="text"
                      placeholder="Order Number (required)"
                      formControlName="orderNumber"
                      [ngClass]="{'is-invalid': (titleForm.get('primaryInfo').get('orderNumber').touched ||
                                                  titleForm.get('primaryInfo').get('orderNumber').dirty) &&
                                                  !titleForm.get('primaryInfo').get('orderNumber').valid }" />
                <span class="invalid-feedback">
                  <span *ngIf="titleForm.get('primaryInfo').get('orderNumber').errors?.required">
                    Please enter your order Number.
                  </span>
                </span>	
            </div>
            <div class="form-group col-md-4">
              <label class=" col-form-label"
                    for="searchDateId">Search Date</label>
                <input class="form-control form-control-sm"
                      id="searchDateId"
                      type="date"
                      placeholder="Search Date (required)"
                      formControlName="searchDate"
                      [ngClass]="{'is-invalid': (titleForm.get('primaryInfo').get('searchDate').touched ||
                                                  titleForm.get('primaryInfo').get('searchDate').dirty) &&
                                                  !titleForm.get('primaryInfo').get('searchDate').valid }" />
                <span class="invalid-feedback">
                  <span *ngIf="titleForm.get('primaryInfo').get('searchDate').errors?.required">
                    Please enter your search date.
                  </span>
                </span>
            </div>
            <div class="form-group col-md-4">
              <label class="col-form-label"
                    for="effectiveDateId">Effective Date</label>
              
                <input class="form-control form-control-sm"
                      id="effectiveDateId"
                      type="date"
                      placeholder="Effective Date (required)"
                      formControlName="effectiveDate"
                      [ngClass]="{'is-invalid': (titleForm.get('primaryInfo').get('effectiveDate').touched ||
                                                  titleForm.get('primaryInfo').get('effectiveDate').dirty) &&
                                                  !titleForm.get('primaryInfo').get('effectiveDate').valid }" />
                <span class="invalid-feedback">
                  <span *ngIf="titleForm.get('primaryInfo').get('effectiveDate').errors?.required">
                    Please enter your Effective Date.
                  </span>
                </span>
              
            </div>
          </div>
          <div class="form-row">
              <label class="col-form-label  "
                      for="address">Address</label>
          </div>
          
          <div formGroupName="address">
            <div class="form-row">
              <div class="form-group col-md-3">
                <label class="col-form-label  "
                      for="address">Line-1</label>
                <input class="form-control form-control-sm"
                    id="street1Id"
                    type="text"
                    placeholder="address( line 1 )"
                    formControlName="street1"
                    />
              </div>

              <div class="form-group col-md-3">
                <label class="col-form-label"
                      for="address">Line-2</label>
                <input class="form-control form-control-sm"
                    id="street2Id"
                    type="text"
                    placeholder="address( line 2 )"
                    formControlName="street2"
                    />
              </div>

              <div class="form-group col-md-3">
                <label class="col-form-label"
                      for="city">City</label>
                <input class="form-control form-control-sm"
                  id="city"
                  type="text"
                  placeholder="city"
                  formControlName="city"
                  />
              </div>

              
              <div class="col-md-3">
                <label class="col-form-label"
                      for="address">State</label>
                <input class="form-control form-control-sm"
                  id="state"
                  type="text"
                  placeholder="state"
                  formControlName="state"
                  />
              </div>

              
              <div class="col-md-2">
                <label class="col-form-label"
                      for="address">Zip</label>
                <input class="form-control form-control-sm"
                  id="zip"
                  type="number"
                  placeholder="zip"
                  formControlName="zip"
                  />
              </div>

              
              <div class="col-md-3">
                <label class="col-form-label"
                      for="address">Parcel No</label>
                <input class="form-control form-control-sm"
                  id="parcelNo"
                  type="text"
                  placeholder="parcel No"
                  formControlName="parcelNo"
                  />
              </div>

              
              <div class="col-md-2">
                <label class="col-form-label"
                      for="address">Lot</label>
                <input class="form-control form-control-sm"
                  id="lot"
                  type="text"
                  placeholder="lot"
                  formControlName="lot"
                  />
              </div>

              
              <div class="col-md-2">
                <label class="col-form-label"
                      for="address">Block</label>
                <input class="form-control form-control-sm"
                  id="block"
                  type="text"
                  placeholder="Block"
                  formControlName="block"
                  />
              </div>

              
              <div class="col-md-3">
                <label class="col-form-label"
                      for="address">Sub Division</label>
                <input class="form-control form-control-sm"
                  id="subDivision"
                  type="text"
                  placeholder="sub Division"
                  formControlName="subDivision"
                  />
              </div>
            </div>


          </div>
        </div>
      </div>


      <!-- Deed Information -->
      <div formArrayName="deeds" class="card border border-success">
        
        <div [formGroupName] ="i" 
          *ngFor="let deed of deeds.controls; let i=index">
          <div class="card-header bg-default" >
		        Deed#{{i+1}}
	        </div>
          <div class="card-body form-row">
            
            <div class="col-md-3 form-group ">
              <label class="col-form-label "
                attr.for="{{'deedType' + i}}">Deed Type</label>
              <input class="form-control form-control-sm "
                id="{{'deedType' + i}}"
                type="text"
                placeholder="Deed Type"
                formControlName="deedType"
                />
            </div>

            
            <div class="col-md-3 form-group ">
              <label class="col-form-label "
                for="considerationAmount">Consideration Amount</label>
              <input class="form-control form-control-sm"
                id="considerationAmount"
                type="text"
                placeholder="Consideration Amount"
                formControlName="considerationAmount"
                />
            </div>

            
            <div class="col-md-3 form-group ">
              <label class="col-form-label "  
                for="grantor">Grantor</label>
              <input class="form-control form-control-sm"
                id="grantor"
                type="text"
                placeholder="Grantor"
                formControlName="grantor"
                />
            </div>

            
            <div class="col-md-3 form-group ">
              <label class="col-form-label "
                for="grantee">Grantee</label>
              <input class="form-control form-control-sm"
                id="grantee"
                type="text"
                placeholder="Grantee"
                formControlName="grantee"
                />
            </div>

            
            <div class="col-md-3 form-group ">
              <label class="col-form-label "
                for="vesting">Vesting</label>
              <input class="form-control form-control-sm"
                id="vesting"
                type="text"
                placeholder="Vesting"
                formControlName="vesting"
                />
            </div>

            
            <div class="col-md-3 form-group ">
              <label class="col-form-label "
                for="iBP"> Instrument/Book/Page </label>
              <input class="form-control form-control-sm"
                id="iBP"
                type="text"
                formControlName="iBP"
                />
            </div>

            
            <div class="col-md-3 form-group ">
              <label class="col-form-label "
                for="datedDate">Dated Date</label>
              <input class="form-control form-control-sm"
                id="datedDate"
                type="date"
                formControlName="datedDate"
                />
            </div>

            
            <div class="col-md-3 form-group ">
              <label class="col-form-label "
                for="recordedDate">Recorded Date</label>
              <input class="form-control form-control-sm"
                id="recordedDate"
                type="date"
                formControlName="recordedDate"
                />
            </div>
            <div class="col-md-2"></div>

            
            <div class="col-md-12 form-group ">
              <label class="col-form-label "
                for="note">Note</label>
              <textarea 
                class="form-control form-control-sm"
                formControlName="note"
                ></textarea>
            </div>

          </div>
        </div>
        <div class="mx-auto ">
          <button class="btn btn-outline-primary"
                    type="button"
                    [title]="deeds.valid ? 'Add another deed' : 'Disabled until the existing deed data is valid'"
                    (click)="addDeed()">
              Add Another Deed
            </button>
        </div>
      </div>



      <!-- Mortagage Information -->
      <div formArrayName="mortgages" class="card border border-success mb-3 bg-light">
        
        <div [formGroupName] ="i" 
          *ngFor="let mortgage of mortgages.controls; let i=index">
          <div class="card-header bg-default" >
		        Mortgage
	        </div>
          <div class="form-row mb-2">
            
            <div class="col-md-3 form-group">
              <label class="col-form-label"
                for="mortgagor">Mortgagor</label>
              <input class="form-control form-control-sm"
                id="mortgagor"
                type="text"
                placeholder="Mortgagor"
                formControlName="mortgagor"
                />
            </div>

            
            <div class="col-md-3 form-group">
              <label class="col-form-label "
                for="mortgagee">Mortgagee</label>
              <input class="form-control form-control-sm"
                id="mortgagee"
                type="text"
                placeholder="Mortgagee"
                formControlName="mortgagee"
                />
            </div>

            
            <div class="col-md-3 form-group">
              <label class="col-form-label "
                for="grantor">Grantor</label>
              <input class="form-control form-control-sm"
                id="grantor"
                type="text"
                placeholder="Grantor"
                formControlName="grantor"
                />
            </div>

            
            <div class="col-md-3 form-group">
              <label class="col-form-label"
                for="trustee">Trustee</label>
              <input class="form-control form-control-sm"
                id="trustee"
                type="text"
                placeholder="Trustee"
                formControlName="trustee"
                />
            </div>

            
            <div class="col-md-3 form-group">
              <label class="col-form-label "
                for="iBP"> Instrument/Book/Page </label>
              <input class="form-control form-control-sm"
                id="iBP"
                type="text"
                formControlName="iBP"
                />
            </div>

            
            <div class="col-md-2 form-group">
              <label class="col-form-label"
                for="amount">Amount</label>
              <input class="form-control form-control-sm"
                id="amount"
                type="text"
                formControlName="amount"
                />
            </div>

            <div class="col-md-3 form-group">
              <label class="col-form-label"
                for="datedDate">Dated Date</label>
              <input class="form-control form-control-sm"
                id="datedDate"
                type="date"
                formControlName="datedDate"
                />
            </div>

           
            <div class="col-md-3 form-group">
              <label class="col-form-label"
                for="recordedDate">Recorded Date</label>
              <input class="form-control form-control-sm"
                id="recordedDate"
                type="date"
                formControlName="recordedDate"
                />
            </div>

            
            <div class="col-md-12 ">
              <label class="col-form-label"
                for="note">Note</label>
              <textarea class="form-control form-control-sm"
                id="note"
                formControlName="note"
                ></textarea>
            </div>



          </div>
        </div>
        <div class="mx-auto">
          <button class="btn btn-outline-primary"
                    type="button"
                    [title]="mortgages.valid ? 'Add another mortgage' : 'Disabled until the existing mortgage data is valid'"
                    [disabled]="!mortgages.valid"
                    (click)="addMortgage()">
              Add Another Mortgage
            </button>
        </div>
      </div>
			


       <!-- Judgement Information -->
      <div formArrayName="judgements" class="card border border-success">
        
        <div [formGroupName] ="i" 
          *ngFor="let judgement of judgements.controls; let i=index">
          <div class="card-header bg-default" st>
		        Judement#{{i+1}}
	        </div>
          <div class="form-row ">
            
            <div class="form-group col-md-4">
              <label class="col-form-label "
                for="judgementType">Judgement Type</label>
              <input class="form-control form-control-sm"
                id="judgementType"
                type="text"
                placeholder="Judgement Type"
                formControlName="judgementType"
                />
            </div>

           
            <div class="form-group col-md-4">
               <label class="col-form-label"
                for="plaintIf">Plaint If</label>
              <input class="form-control form-control-sm"
                id="plaintIf"
                type="text"
                placeholder="Plaint If"
                formControlName="plaintIf"
                />
            </div>

            
            <div class="form-group col-md-4">
              <label class="col-form-label"
                for="defendant">Defendant</label>
              <input class="form-control form-control-sm"
                id="defendant"
                type="text"
                placeholder="Defendant"
                formControlName="defendant"
                />
            </div>

          
            <div class="form-group col-md-3">
              <label class="col-form-label"
                for="datedDate">Dated Date</label>
              <input class="form-control form-control-sm"
                id="datedDate"
                type="date"
                formControlName="datedDate"
                />
            </div>

            
            <div class="form-group col-md-3">
              <label class="col-form-label"
                for="recordedDate">Recorded Date</label>
              <input class="form-control form-control-sm"
                id="recordedDate"
                type="date"
                formControlName="recordedDate"
                />
            </div>

            
            <div class="form-group col-md-3">
              <label class="col-form-label"
                for="caseNo">Case Number</label>
              <input class="form-control form-control-sm"
                id="caseNo"
                type="text"
                placeholder="Case No"
                formControlName="caseNo"
                />
            </div>

            
            <div class="form-group col-md-3">
              <label class="col-form-label"
                for="judgementAmount">Judgement Amount</label>
              <input class="form-control form-control-sm"
                id="judgementAmount"
                type="text"
                formControlName="judgementAmount"
                />
            </div>

          </div>
          <div class="form-group">
            <label class="col-md-1 row mb-2"
              for="comments">Comments</label>
            <textarea class="form-control form-control-sm"
              id="comments"
              formControlName="comments"
              ></textarea>
          </div>

        </div>
        <div class="mx-auto">
          <button class="btn btn-outline-primary"
                    type="button"
                    [title]="judgements.valid ? 'Add another judgement' : 'Disabled until the existing judgement data is valid'"
                    [disabled]="!judgements.valid"
                    (click)="addJudgement()">
              Add Judgement
            </button>
        </div>
      </div>


      <!-- Tax Information -->
      <div class="card border border-success mb-3">
        <div class="card-header bg-default" st>
		      Tax
	      </div>
        <div formGroupName ="tax" class="card-body">
          <div class="form-row">
            
            <div class="form-group col-md-3 ">
              <label class="col-form-label "
                for="assesmentYear">Assesment Year</label>
              <input class="form-control form-control-sm"
                id="assesmentYear"
                type="text"
                placeholder="Assesment Year"
                formControlName="assesmentYear"
                />
            </div>

            
            <div class="form-group col-md-3">
              <label class="col-form-label "
                for="taxYear">Tax Year</label>
              <input class="form-control form-control-sm"
                id="taxYear"
                type="text"
                placeholder="Tax Year"
                formControlName="taxYear"
                />
            </div>

            <div class="form-group col-md-3">
              <label class="col-form-label"
                for="landValue">Land Value</label>
              <input class="form-control form-control-sm"
                id="landValue"
                type="text"
                placeholder="Land Value"
                formControlName="landValue"
                />
            </div>

            <div class="form-group col-md-3">
              <label class="col-form-label"
                for="buildingValue">Building Value</label>
              <input class="form-control form-control-sm"
                id="buildingValue"
                type="text"
                placeholder="Building Value"
                formControlName="buildingValue"
                />
            </div>

            <div class="form-group col-md-3">
              <label class="col-form-label"
                for="totalValue">Total Value</label>
              <input class="form-control form-control-sm"
                id="totalValue"
                type="text"
                placeholder="Total Value"
                formControlName="totalValue"
                />
            </div>

            <div class="form-group col-md-3">
              <label class="col-form-label"
                for="exemption">Exemption</label>
              <input class="form-control form-control-sm"
                id="exemption"
                type="text"
                placeholder="Exemption"
                formControlName="exemption"
                />
            </div>

            
          </div>
          <table formArrayName="installments" class="table">
            <tr>
              <th>Installment</th>
              <th>Amount</th>
              <th>Status</th>
              <th>Paid/Due Date</th>
            </tr>
            <tr [formGroupName] ="i" 
              *ngFor="let installment of installments.controls; let i=index">
              <td>
                <input class="form-control form-control-sm"
                    id="installment"
                    type="text"
                    placeholder="Installment"
                    formControlName="installment"
                    />
              </td>
              <td>
                <input class="form-control form-control-sm"
                    id="amount"
                    type="text"
                    placeholder="Amount"
                    formControlName="amount"
                    />
              </td>
              <td>
                <input class="form-control form-control-sm"
                    id="status"
                    type="text"
                    placeholder="Status"
                    formControlName="status"
                    />
              </td>
              <td>
                <input class="form-control form-control-sm"
                    id="paidDueDate"
                    type="date"
                    formControlName="paidDueDate"
                    />
              </td>
            </tr>
            <tr>
              <td>
                <button class="btn-success" 
                  type="button"
                  (click)="addInstallment()">Add Installment</button>
              </td>
            </tr>
          </table>
        </div>
      </div>
			

      <!-- Additional Information -->
      <div>
        <div formGroupName ="additionalInfo" class = "card-body">
          <div class="form-group bg-default">
            <label class="card-header"
                for="multipleNames">Multiple Names</label>
            
              <textarea class="form-control form-control-sm"
                id="multipleNames"
                type="text"
                placeholder="Enter Multiple Names"
                formControlName="multipleNames"
                ></textarea>
           
          </div>

          <div class="form-group bg-default ">
            <label class=" card-header"
                for="additionalInfo">Additional Information</label>
            <textarea class="form-control form-control-sm"
              id="additionalInfo"
              formControlName="additionalInfo"
              ></textarea>            
          </div>

          <div class="form-group bg-default">
            <label class="card-header "
                for="legalDescription">Legal Description</label>
              <textarea class="form-control form-control-sm"
                id="legalDescription"
                formControlName="legalDescription"
                ></textarea>
            
          </div>

          <div class="form-group bg-default">
            <label class="card-header "
                for="disclaimer">Disclaimer</label>
              <textarea class="form-control form-control-sm"
                id="disclaimer"
                type="text"
                placeholder="Disclaimer"
                formControlName="disclaimer"
                ></textarea>
            
          </div>


        </div>
      </div>



      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
            type="submit"
            style="width:80px"
            [title]="titleForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'">
            <!--add for valid     [disabled]="!titleForm.valid"-->
            Save
          </button>

        </div>
      </div>

     

		</form>
	</div>
</div>
<br>Dirty: {{ titleForm.dirty }}
<br>Touched: {{ titleForm.touched }}
<br>Valid: {{ titleForm.valid }}
<br>Value: {{ titleForm.value | json }}
<br>&nbsp;s