<div class="card">
	<div class="card-header" st>
		Title Trails
	</div>

	<div class="card-body">
		<form novalidate (ngSubmit)="save()" [formGroup]="titleForm">

			<!-- Primary Information -->
      <div formGroupName="primaryInfo" class="bg-light p-10">
      <div class="form-group row mb-1">
				<label class="col-md-2 col-form-label"
               for="orderNumberId">Order Number</label>
				<div class="col-md-8">
					<input class="form-control"
                 id="orderNumberId"
                 type="text"
                 placeholder="Order Number (required)"
                 formControlName="orderNumber"
                 [ngClass]="{'is-invalid': (titleForm.get('primaryInfo').get('orderNumber').touched ||
                                            titleForm.get('primaryInfo').get('orderNumber').dirty) &&
                                            !titleForm.get('primaryInfo').get('orderNumber').valid }" />
					<span class="invalid-feedback">
            <span *ngIf="titleForm.get('primaryInfo').get('orderNumber').errors?.required">
              Please enter your order Number.
            </span>
					</span>
				</div>
			</div>

			<div class="form-group row mb-2">
				<label class="col-md-2 col-form-label"
               for="searchDateId">Search Date</label>
				<div class="col-md-3">
					<input class="form-control"
                 id="searchDateId"
                 type="date"
                 placeholder="Search Date (required)"
                 formControlName="searchDate"
                 [ngClass]="{'is-invalid': (titleForm.get('primaryInfo').get('searchDate').touched ||
                                            titleForm.get('primaryInfo').get('searchDate').dirty) &&
                                            !titleForm.get('primaryInfo').get('searchDate').valid }" />
					<span class="invalid-feedback">
            <span *ngIf="titleForm.get('primaryInfo').get('searchDate').errors?.required">
              Please enter your search date.
            </span>
					</span>
				</div>

				<label class="col-md-2 col-form-label"
               for="effectiveDateId">Effective Date</label>
				<div class="col-md-3">
					<input class="form-control"
                 id="effectiveDateId"
                 type="date"
                 placeholder="Effective Date (required)"
                 formControlName="effectiveDate"
                 [ngClass]="{'is-invalid': (titleForm.get('primaryInfo').get('effectiveDate').touched ||
                                            titleForm.get('primaryInfo').get('effectiveDate').dirty) &&
                                            !titleForm.get('primaryInfo').get('effectiveDate').valid }" />
					<span class="invalid-feedback">
            <span *ngIf="titleForm.get('primaryInfo').get('effectiveDate').errors?.required">
              Please enter your Effective Date.
            </span>
					</span>
				</div>
			</div>


			<div formGroupName="address">
				<div class="form-group row mb-2">
					<label class="col-md-2  "
                  for="address">Address</label>
				</div>
				<div class="form-group row mb-2">
					<div class="col-md-4">
						<input class="form-control"
                id="street1Id"
                type="text"
                placeholder="address(required)"
                formControlName="street1"
                />
					</div>

					<div class="col-md-4">
						<input class="form-control"
                id="street2Id"
                type="text"
                placeholder="address(required)"
                formControlName="street2"
                />
					</div>

          <div class="col-md-4">
            <input class="form-control"
              id="city"
              type="text"
              placeholder="city"
              formControlName="city"
              />
					</div>

          <label class="col-md-1"
                  for="address">State</label>
          <div class="col-md-3">
            <input class="form-control"
              id="state"
              type="text"
              placeholder="state"
              formControlName="state"
              />
					</div>

          <label class="col-md-1"
                  for="address">Zip</label>
          <div class="col-md-2">
            <input class="form-control"
              id="zip"
              type="number"
              placeholder="zip"
              formControlName="zip"
              />
					</div>

          <label class="col-md-2"
                  for="address">Parcel No</label>
          <div class="col-md-3">
            <input class="form-control"
              id="parcelNo"
              type="text"
              placeholder="parcel No"
              formControlName="parcelNo"
              />
					</div>

          <label class="col-md-1"
                  for="address">Lot</label>
          <div class="col-md-2">
            <input class="form-control"
              id="lot"
              type="text"
              placeholder="lot"
              formControlName="lot"
              />
					</div>

          <label class="col-md-1"
                  for="address">Block</label>
          <div class="col-md-2">
            <input class="form-control"
              id="block"
              type="text"
              placeholder="Block"
              formControlName="block"
              />
					</div>

          <label class="col-md-2"
                  for="address">Sub Division</label>
          <div class="col-md-3">
            <input class="form-control"
              id="subDivision"
              type="text"
              placeholder="sub Division"
              formControlName="subDivision"
              />
					</div>


				</div>
			</div>
      </div>


      <!-- Deed Information -->
      <div formArrayName="deeds">
        <div class="card-body" st>
		      deed
	      </div>
        <div [formGroupName] ="i" 
          *ngFor="let deed of deeds.controls; let i=index">
          <div class="form-group row mb-2">
            <label class="col-md-1.5 "
                attr.for="{{'deedType' + i}}">Deed Type</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="{{'deedType' + i}}"
                type="text"
                placeholder="Deed Type"
                formControlName="deedType"
                />
            </div>

            <label class="col-md-1 row mb-2"
                for="grantor">Grantor</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="grantor"
                type="text"
                placeholder="Grantor"
                formControlName="grantor"
                />
            </div>

            <label class="col-md-2 row mb-2"
                for="grantee">Grantee</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="grantee"
                type="text"
                placeholder="Grantee"
                formControlName="grantee"
                />
            </div>

            <label class="col-md-1 row mb-2"
                for="vesting">Vesting</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="vesting"
                type="text"
                placeholder="Vesting"
                formControlName="vesting"
                />
            </div>

            <label class="col-md-3 row mb-2 mx-auto"
                for="iBP"> Instrument/Book/Page </label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="iBP"
                type="text"
                formControlName="iBP"
                />
            </div>

            <label class="col-md-2 row mb-2"
                for="datedDate">Dated Date</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="datedDate"
                type="date"
                formControlName="datedDate"
                />
            </div>

            <label class="col-md-2 row mb-2"
                for="recordedDate">Recorded Date</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="recordedDate"
                type="date"
                formControlName="recordedDate"
                />
            </div>

            <label class="col-md-1 row mb-2"
                for="note">Note</label>
            <div class="col-md-8 row mb-2">
              <input class="form-control"
                id="note"
                type="text"
                formControlName="note"
                />
            </div>



          </div>
        </div>
        <div class="mx-auto">
          <button class="btn btn-outline-primary"
                    type="button"
                    [title]="deeds.valid ? 'Add another deed' : 'Disabled until the existing deed data is valid'"
                    (click)="addDeed()">
              Add Another Deed
            </button>
        </div>
      </div>



      <!-- Mortagage Information -->
      <div formArrayName="mortgages">
        <div class="card-body" st>
		      Mortgage
	      </div>
        <div [formGroupName] ="i" 
          *ngFor="let mortgage of mortgages.controls; let i=index">
          <div class="form-group row mb-2">
            <label class="col-md-1.5 "
                for="mortgagor">Mortgagor</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="mortgagor"
                type="text"
                placeholder="Mortgagor"
                formControlName="mortgagor"
                />
            </div>

            <label class="col-md-1.5 "
                for="mortgagee">Mortgagee</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="mortgagee"
                type="text"
                placeholder="Mortgagee"
                formControlName="mortgagee"
                />
            </div>

            <label class="col-md-1 row mb-2"
                for="grantor">Grantor</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="grantor"
                type="text"
                placeholder="Grantor"
                formControlName="grantor"
                />
            </div>

            <label class="col-md-1 row mb-2"
                for="trustee">Trustee</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="trustee"
                type="text"
                placeholder="Trustee"
                formControlName="trustee"
                />
            </div>

            <label class="col-md-3 row mb-2"
                for="iBP"> Instrument/Book/Page </label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="iBP"
                type="text"
                formControlName="iBP"
                />
            </div>

            <label class="col-md-2 row mb-2"
                for="amount">Amount</label>
            <div class="col-md-2 row mb-2">
              <input class="form-control"
                id="amount"
                type="text"
                formControlName="amount"
                />
            </div>

            <label class="col-md-2 row mb-2"
                for="datedDate">Dated Date</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="datedDate"
                type="date"
                formControlName="datedDate"
                />
            </div>

            <label class="col-md-2 row mb-2"
                for="recordedDate">Recorded Date</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="recordedDate"
                type="date"
                formControlName="recordedDate"
                />
            </div>

            <label class="col-md-1 row mb-2"
                for="note">Note</label>
            <div class="col-md-8 row mb-2">
              <input class="form-control"
                id="note"
                type="text"
                formControlName="note"
                />
            </div>



          </div>
        </div>
        <div class="mx-auto">
          <button class="btn btn-outline-primary"
                    type="button"
                    [title]="mortgages.valid ? 'Add another mortgage' : 'Disabled until the existing mortgage data is valid'"
                    [disabled]="!mortgages.valid"
                    (click)="addMortgage()">
              Add Another Mortgage
            </button>
        </div>
      </div>
			


       <!-- Judgement Information -->
      <div>
        <div class="card-body" st>
		      Judement
	      </div>
        <div formGroupName ="judgement">
          <div class="form-group row mb-2">
            <label class="col-md-2 "
                for="judgementType">Judgement Type</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="judgementType"
                type="text"
                placeholder="Judgement Type"
                formControlName="judgementType"
                />
            </div>

            <label class="col-md-1.7 "
                for="plaintIf">Plaint If</label>
            <div class="col-md-2 row mb-2">
              <input class="form-control"
                id="plaintIf"
                type="text"
                placeholder="Plaint If"
                formControlName="plaintIf"
                />
            </div>

            <label class="col-md-2 row mb-2"
                for="defendant">Defendant</label>
            <div class="col-md-2 row mb-2">
              <input class="form-control"
                id="defendant"
                type="text"
                placeholder="Defendant"
                formControlName="defendant"
                />
            </div>

            

            <label class="col-md-2 row mb-2"
                for="datedDate">Dated Date</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="datedDate"
                type="date"
                formControlName="datedDate"
                />
            </div>

            <label class="col-md-2 row mb-2"
                for="recordedDate">Recorded Date</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="recordedDate"
                type="date"
                formControlName="recordedDate"
                />
            </div>

            <label class="col-md-2 row mb-2"
                for="caseNo">Case Number</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="caseNo"
                type="text"
                placeholder="Case No"
                formControlName="caseNo"
                />
            </div>

            <label class="col-md-3 row mb-2"
                for="judgementAmount">Judgement Amount</label>
            <div class="col-md-2 row mb-2">
              <input class="form-control"
                id="judgementAmount"
                type="text"
                formControlName="judgementAmount"
                />
            </div>

            <label class="col-md-1 row mb-2"
                for="comments">Comments</label>
            <div class="col-md-8 row mb-2">
              <input class="form-control"
                id="comments"
                type="text"
                formControlName="comments"
                />
            </div>



          </div>
        </div>
      </div>


      <!-- Tax Information -->
      <div>
        <div class="card-body" st>
		      Judement
	      </div>
        <div formGroupName ="tax">
          <div class="form-group row mb-2">
            <label class="col-md-2 "
                for="assesmentYear">Assesment Year</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="assesmentYear"
                type="text"
                placeholder="Assesment Year"
                formControlName="assesmentYear"
                />
            </div>

            <label class="col-md-1.7 "
                for="taxYear">Tax Year</label>
            <div class="col-md-2 row mb-2">
              <input class="form-control"
                id="taxYear"
                type="text"
                placeholder="Tax Year"
                formControlName="taxYear"
                />
            </div>

            <label class="col-md-2 row mb-2"
                for="landValue">Land Value</label>
            <div class="col-md-2 row mb-2">
              <input class="form-control"
                id="landValue"
                type="text"
                placeholder="Land Value"
                formControlName="landValue"
                />
            </div>

            <label class="col-md-2 row mb-2"
                for="buildingValue">Building Value</label>
            <div class="col-md-2 row mb-2">
              <input class="form-control"
                id="buildingValue"
                type="text"
                placeholder="Building Value"
                formControlName="buildingValue"
                />
            </div>

           <label class="col-md-2 row mb-2"
                for="totalValue">Total Value</label>
            <div class="col-md-2 row mb-2">
              <input class="form-control"
                id="totalValue"
                type="text"
                placeholder="Total Value"
                formControlName="totalValue"
                />
            </div>

            <label class="col-md-2 row mb-2"
                for="exemption">Exemption</label>
            <div class="col-md-3 row mb-2">
              <input class="form-control"
                id="exemption"
                type="text"
                placeholder="Exemption"
                formControlName="exemption"
                />
            </div>

            <div formGroupName ="taxes">
              <div class="form-group row mb-2">
                <label class="col-md-2 "
                    for="installment">Installment</label>
                <div class="col-md-3 row mb-2">
                  <input class="form-control"
                    id="installment"
                    type="text"
                    placeholder="Installment"
                    formControlName="installment"
                    />
                </div>

                <label class="col-md-2 "
                    for="amount">Amount</label>
                <div class="col-md-3 row mb-2">
                  <input class="form-control"
                    id="amount"
                    type="text"
                    placeholder="Amount"
                    formControlName="amount"
                    />
                </div>
                <label class="col-md-2 "
                    for="status">Status</label>
                <div class="col-md-3 row mb-2">
                  <input class="form-control"
                    id="status"
                    type="text"
                    placeholder="Status"
                    formControlName="status"
                    />
                </div>
                <label class="col-md-2 "
                    for="paidDueDate">Paid Due Date</label>
                <div class="col-md-3 row mb-2">
                  <input class="form-control"
                    id="paidDueDate"
                    type="date"
                    formControlName="paidDueDate"
                    />
                </div>

                
              </div>
            </div>
          </div>
        </div>
      </div>
			

      <!-- Additional Information -->
      <div>
        <div class="card-body" st>
		      Additional Info
	      </div>
        <div formGroupName ="additionalInfo">
          <div class="form-group row mb-2">
            <label class="col-md-3 "
                for="multipleNames">Multiple Names</label>
            <div class="col-md-7">
              <input class="form-control"
                id="multipleNames"
                type="text"
                placeholder="Enter Multiple Names"
                formControlName="multipleNames"
                />
            </div> 
          </div>

          <div class="form-group row mb-2">
            <label class="col-md-3 "
                for="additionalInfo">Additional Information</label>
            <div class="col-md-7">
              <input class="form-control"
                id="additionalInfo"
                type="text"
                formControlName="additionalInfo"
                />
            </div> 
          </div>

          <div class="form-group row mb-2">
            <label class="col-md-3 "
                for="legalDescription">Legal Description</label>
            <div class="col-md-7">
              <input class="form-control"
                id="legalDescription"
                type="text"
                formControlName="legalDescription"
                />
            </div> 
          </div>

          <div class="form-group row mb-2">
            <label class="col-md-3 "
                for="disclaimer">Disclaimer</label>
            <div class="col-md-7">
              <input class="form-control"
                id="disclaimer"
                type="text"
                placeholder="Disclaimer"
                formControlName="disclaimer"
                />
            </div> 
          </div>


        </div>
      </div>



      <div class="form-group row mb-2">
        <div class="offset-md-2 col-md-4">
          <button class="btn btn-primary mr-3"
            type="submit"
            style="width:80px"
            [title]="titleForm.valid ? 'Save your entered data' : 'Disabled until the form data is valid'">
            <!--add for valid     [disabled]="!titleForm.valid"-->
            Save
          </button>

        </div>
      </div>

     

		</form>
	</div>
</div>
<br>Dirty: {{ titleForm.dirty }}
<br>Touched: {{ titleForm.touched }}
<br>Valid: {{ titleForm.valid }}
<br>Value: {{ titleForm.value | json }}
<br>&nbsp;s